<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <%- include partials/_header.ejs %>
    <table>
    <% for(var key in urls) {%>
        <p>
            <tr>
            <%= key %>
            <a href=<%=urls[key] %>>
            &nbsp;
            <%= urls[key] %></a>
             &nbsp;
            <a href="/urls/<%= key %>">Edit</a>
            <form method="POST" action="/urls/<%= key %>/delete">

                &nbsp;
                <button type='submit'>🗑</button>
            </form>
        </p>
            </tr>
   <% } %>
    </table>
   <a href="">Make Me MINI</a> 
</body>

</html>